.container {
  border: 5px solid #ffcc5c;
  display: flex;
}

.search {
  flex: 1;
}

@media all and (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex: 1 1 50%;
  }
  .search > input {
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  .container > li {
    flex: 1 1 100%;
  }
  .search {
    order: 1;
  }
}
